@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
html, body {
    padding: 0pt;
    margin: 0pt;
    height: 100%;
}
#navbar{
    width: 100%;
    height: 40pt;
    top: 0;
    background-color: black;
    z-index: 99;
}
#list_navbar{
    list-style: none;
    display: inline;
    margin-left: 25pt;
}
li{
    color: white;
    float: left;
    margin: 8pt;
    padding-top: 5pt;
    font-size: 15pt;
}
#icon{
    font-size: 25pt;
    margin-top: 2pt;
    font-family: 'Akronim', cursive;
}
a{
    text-decoration: none;
    color: white;
}
#footer {
    text-align: center;
    font-size: 9pt;
    height: 30px;
    margin-top: -30px;
}
#pages_body {
    min-height: 100%;
}
#form {
    position: relative;
    min-height: 100vh;
}
#form_login{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.76);
    width: 60vh;
    height: 55vh;
    border-radius: 10pt;
    padding: 25pt;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}
#title_form{
    font-size: 40pt;
    padding-left: 100pt;
    font-family: 'Cairo', sans-serif;
    color: white;
}
input{
    width: 100%;
    height: 5vh;
    border-radius: 1pt;
    background-color: rgba(0, 0, 0, 0.178);
    border: 2pt solid white;
    padding: 5pt 3pt 5pt 3pt;
    font-size: 12pt;
    font-weight: bold;
    margin: 3vh auto 5pt auto;
}
#Text_Error{
    text-align: center;
    font-size: 11pt;
    color: red;
    text-shadow: 1px 1px 1px red;
}
#login{
    background-color: blue;
    padding: 3pt 20pt 3pt 20pt;
    margin-left: 100pt;
    margin-top: 20pt;
    border-color: blue;
}
#login:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
#table {
    padding: 20px;
    padding-bottom: 70px;
    text-align: center;
}
#table_person {
    border-collapse: collapse;
    position: relative;
    margin: 2vh 3vh 2vh 3vh;
}
#table_person th{
    background-color: rgb(0, 168, 0);
    padding: 10pt;
    color: white;
    font-size: 15pt;
    text-align: center;
    border: 1px solid #ddd;
}
#table_person td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#table_person tr:hover{
    background-color: rgba(192, 192, 192, 0.363);
    transition: 0.5s;
}
#Alt{
    padding-left: 18pt;
    color: blue;
    text-decoration: none;
}
#Del{
    padding-left: 10pt;
    color: red;
    text-decoration: none;
}
#title_table{
    font-size: 50pt;
    font-family: 'Cairo', sans-serif;
    color: black;
    text-shadow: 2pt 2pt 2pt black;
}
#btn_add_register {
    display: block;
    margin: 2vh 3vh 2vh 3vh;
    background-color: green;
    border-color: green;
    color: white;
    border: 3pt solid green;
    font-family: 'Cairo', sans-serif;
    font-size: 10pt;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    text-decoration: none;
    padding: 3pt 10pt 3pt 10pt;
    border-radius: 5pt;
    font-weight: bolder;
}
#btn_add_register:hover {
    background-color: white;
    color: black;
    transition: 1s;
    }
#form_add_alt_del{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(56, 56, 56, 0.26);
    width: 70vh;
    height: 65vh;
    border-radius: 10pt;
    padding: 25pt;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}
#btn_add{
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgb(21, 255, 0);
    border-color: rgb(21, 255, 0);
}
#btn_add:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
#btn_del{
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}
#btn_del:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
#btn_alt{
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
    background-color: blue;
    border-color: blue;
}
#btn_alt:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
#form_add_alt_del input{
    border: 2pt solid black;
}
.btn {
    color: white;
    border: 3pt solid;
    font-family: 'Cairo', sans-serif;
    font-size: 10pt;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    text-decoration: none;
    padding: 3pt 10pt 3pt 10pt;
    border-radius: 5pt;
    font-weight: bolder;
}